@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Montserrat;
		font-weight: 400;
		src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
	}
	@font-face {
		font-family: Montserrat;
		font-weight: 500;
		src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
	}
	@font-face {
		font-family: Montserrat;
		font-weight: 700;
		src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
	}
	@font-face {
		font-family: Montserrat;
		font-weight: 800;
		src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
	}
	@font-face {
		font-family: Montserrat;
		font-weight: 900;
		src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
	}
	h1 {
		@apply text-6xl font-black;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-3xl font-medium;
	}
	h4 {
		@apply text-2xl font-medium;
	}
	h5 {
		@apply text-2xl font-normal;
	}
	h6 {
		@apply text-lg font-medium;
	}
}
